<div class="col-sm-4">
    <input id="search" class="btn btn-primary" type="submit" value="Search">
</div>

<script>
    $(document).ready(function(){
        $(this).closest('.results_over_map').removeClass('hidden');
    });
</script>
